In [19]:
#create a spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").\
                                     appName("spark_on_docker").\
                                     getOrCreate()

In [20]:
#Download a README.md file from docker-stacks to test Spark
#!wget -q https://github.com/jupyter/docker-stacks/blob/d990a62010aededcda836196c4b04efece7f838f/README.md

!wget -q https://www.stats.govt.nz/assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2020-financial-year-provisional/Download-data/annual-enterprise-survey-2020-financial-year-provisional-size-bands-csv.csv

In [100]:
#read the file and count how many rows have the word Jupyter
"""
textFile = spark.read.text("README.md")
rows_with_jupyter = textFile.filter(textFile.value.contains("Jupyter")).count()

print("There's %d rows with the word Jupyter."%rows_with_jupyter)

#textFile = spark.read.text("annual-enterprise-survey-2020-financial-year-provisional-size-bands-csv.csv")
#iris = spark.read.csv('annual-enterprise-survey-2020-financial-year-provisional-size-bands-csv.csv', header=True)

iris = spark.read.csv('iris.csv', header=True)
print(iris.show(10))

"""

#----------------------------------------------------------------------------------

flightData2015 = spark.read.csv('TheDefinitiveGuide/Spark-The-Definitive-Guide/data/flight-data/csv/2015-summary.csv', header=True)
print(flightData2015.show(5))

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

None

DataFrame을 테이블이나 뷰로 만들기 위한 createOrReplaceTempView()

In [88]:
flightData2015.createOrReplaceTempView("flight_data_2015")

In [89]:
sqlWay = spark.sql("""
SELECT DEST_COUNTRY_NAME, count(1)
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
""")

In [90]:
print(sqlWay.show(5))

+-----------------+--------+
|DEST_COUNTRY_NAME|count(1)|
+-----------------+--------+
|         Anguilla|       1|
|           Russia|       1|
|         Paraguay|       1|
|          Senegal|       1|
|           Sweden|       1|
+-----------------+--------+
only showing top 5 rows

None

In [101]:
dataFrameWay = flightData2015\
  .groupBy("DEST_COUNTRY_NAME")\
  .count()

In [102]:
print(dataFrameWay.show(5))

+-----------------+-----+
|DEST_COUNTRY_NAME|count|
+-----------------+-----+
|         Anguilla|    1|
|           Russia|    1|
|         Paraguay|    1|
|          Senegal|    1|
|           Sweden|    1|
+-----------------+-----+
only showing top 5 rows

None

In [49]:
sqlWay.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[DEST_COUNTRY_NAME#518], functions=[count(1)])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#518, 200), ENSURE_REQUIREMENTS, [id=#388]
      +- HashAggregate(keys=[DEST_COUNTRY_NAME#518], functions=[partial_count(1)])
         +- FileScan csv [DEST_COUNTRY_NAME#518] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/work/TheDefinitiveGuide/Spark-The-Definitive-Guide/d..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [50]:
dataFrameWay.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[DEST_COUNTRY_NAME#518], functions=[count(1)])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#518, 200), ENSURE_REQUIREMENTS, [id=#639]
      +- HashAggregate(keys=[DEST_COUNTRY_NAME#518], functions=[partial_count(1)])
         +- FileScan csv [DEST_COUNTRY_NAME#518] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/work/TheDefinitiveGuide/Spark-The-Definitive-Guide/d..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [55]:
from pyspark.sql.functions import max

flightData2015.select(max("count")).take(1)

[Row(max(count)='986')]

In [56]:
maxSql = spark.sql("""
SELECT DEST_COUNTRY_NAME, sum(count) as destination_total
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
ORDER BY sum(count) DESC
LIMIT 5
""")

In [57]:
maxSql.show()

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|         411352.0|
|           Canada|           8399.0|
|           Mexico|           7140.0|
|   United Kingdom|           2025.0|
|            Japan|           1548.0|
+-----------------+-----------------+

In [71]:
from pyspark.sql.functions import desc

In [104]:
flightData2015\
  .groupBy("DEST_COUNTRY_NAME")\
  .sum("count")\
  .withColumnRenamed("sum(count)", "destination_total")\
  .sort(desc("destination_total"))\
  .limit(5)\
  .show()

AnalysisException: "count" is not a numeric column. Aggregation function can only be applied on a numeric column.

In [120]:
flightData2015.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [133]:
from pyspark.sql.types import IntegerType,BooleanType,DateType
flightData2015=flightData2015.withColumn("count",flightData2015.count.cast('int'))
flightData2015.groupBy("DEST_COUNTRY_NAME").max("count")

AttributeError: 'function' object has no attribute 'cast'

In [ ]:
spark.stop()